{{!< default}}

<main id="gh-main" class="gh-main gh-canvas">
    {{#tag}}
        <header class="tag-header">
            <h1 class="tag-title">{{name}}</h1>

            {{#if description}}
                <p class="tag-description">{{description}}</p>
            {{else}}
                <p class="tag-description">A collection of {{plural ../pagination.total empty="0 issues" singular="% issue" plural="% issues"}}</p>
            {{/if}}
        </header>
    {{/tag}}

    <section class="tag-posts">
        {{#foreach posts}}
            {{> "loop-horizontal"}}
        {{/foreach}}
    </section>

    <button class="gh-loadmore gh-btn">Load more issues</button>
</main>